<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<withJansi>true</withJansi>
		<encoder>
			<pattern>%date %highlight(:) %message%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>aidoatp.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>aido.log.%i.gz</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>8</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>32MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%date : %-5level %logger [%thread] - %message%n</pattern>
		</encoder>
	</appender>
	<logger name="com.xeiam.xchange" level="WARN">
	</logger>
	<root level="DEBUG">
			<appender-ref ref="FILE" />
			<appender-ref ref="STDOUT" />
	</root>
</configuration>
